<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">

  <div class="row" width="200px" height="200">
    <img src="https://m.media-amazon.com/images/M/MV5BNDIwODQ4NjUtMDc0Ni00NjI1LTg2YmMtNzUwZjVhN2M2NmZiXkEyXkFqcGdeQXVyNTI5NjIyMw@@._V1_.jpg" width="200px" height="200"class="img-fluid pull-xs-left" alt="">
  </div>
  <div class="row">
    <button class="btn btn-success" on-click="incrementar" type="button">Cargar datos</button>
    <!---->
    <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" />
    <input type="text" value="[[prop1]]" />
  </div>
<div class="row">
  <table class="table table-striped col-lg-12 col-xs-12">
<thead>
  <th>ID</th>
  <th>Nombre</th>
  <th>Apellido</th>
</thead>
<tbody>
  <tr>
    <td>[[propl2]]</td>
    <td>Dolores</td>
    <td>Fuertes</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Elena</td>
    <td>Nito</td>
  </tr>
</tbody>
  </table>
</div>


</div>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'demopolymer-app'
          },
          propl2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar()
      {
        this.propl2=this.propl2+1;
        console.log("prop1 "+this.prop1);
        console.log("propl2 "+this.propl2);

      }










    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
