<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loggin-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

<iron-ajax
  id="hacerLogin"
  url="http://localhost:3000/apitechu/v5/login"
  method="POST"
  handle-as="json"
  on-response="mostrarResultadoLogin"
  on-error="mostrarError"
  ></iron-ajax>

<div class="container">

  <div class="row">


    Email: <input type="email"  value="{{email::input}}" />
    <br />
    <br />
    Password: <input type="password" value="{{password::input}}" />
    <br />
    <br />
    <button class="btn btn-success" on-click="logar" type="button">ENTRAR</button>
  </div>



<div class="row">
  <span hidden$="{{!logado}}">Bienvenido a la app</span>

</div>


</div>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogginApp extends Polymer.Element {
      static get is() { return 'loggin-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin()
      {

        console.log("1: Llego el resultado");
        console.log(resultado);
        console.log("2: proceso el resultado");
        this.logado=true;

      }


      logar()
      {

        console.log("Se ha pulsado el boton login");
        console.log("email: "+this.email);
        console.log("password "+this.password);

        this.$.hacerLogin.headers.email=this.email;
        this.$.hacerLogin.headers.password=this.password;
        this.$.hacerLogin.generateRequest();



      }


mostrarError()
{
  console.log(error);
  this.logado=false;
}


    }

    window.customElements.define(LogginApp.is, LogginApp);
  </script>
</dom-module>
